{% extends 'main.html' %}

{% load static %}

{% block content %}

<!-- Breadcrumb Start -->
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name" href="{% url 'index' %}">Головна</h1>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'blog:blog_post_list' %}">Блог</a></li>
                            <li class="active">{{ post.title }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <!-- Breadcrumb End -->



<section class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="post post-single">
					<div class="post-thumb">
						<img class="img-responsive" src="{{ post.image.url }}" alt="{{ post.title }}">
					</div>
					<h2 class="post-title">{{ post.title }}</h2>
					<div class="post-meta">
						<ul>
							<li>
								<i class="tf-ion-ios-calendar"></i> {{ post.pub_date|date:"j.m.Y" }}
							</li>
							<li>
								<i class="tf-ion-android-person"></i> POSTED BY ADMIN
							</li>
						</ul>
					</div>
					<div class="post-content post-excerpt">
						<p>{{ post.content|safe }}</p>
				    </div>
                 </div>
			</div>
		</div>
	</div>
</section>


    {% include 'rec_products_main.html' %}

{% endblock %}

