{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="page-wrapper">
   <div class="checkout shopping">
      <div class="container">
         <div class="row">
            <div class="col-md-8">
               <div class="block billing-details">
                  <h4 class="widget-title">Інформація для відправки замовлення</h4>
                  <form method="post" class="checkout-form">
                    {% csrf_token %}
                     <div class="checkout-country-code clearfix">
                        <div class="form-group">
                           <label for="first_name">Ім'я</label>
                            {{ form.first_name }}
                        </div>
                        <div class="form-group" >
                           <label for="last_name">Прізвице</label>
                           {{ form.last_name }}
                        </div>
                     </div>
                     <div class="checkout-country-code clearfix">
                        <div class="form-group">
                           <label for="email" style="white-space: nowrap;">Електонна пошта</label>
                           {{ form.email }}
                        </div>
                        <div class="form-group" >
                           <label for="phone" style="white-space: nowrap;">Номер мобільного</label>
                           {{ form.phone }}
                        </div>
                     </div>
                     <div class="checkout-country-code clearfix">
                        <div class="form-group">
                           <label for="user_post_code">Місто</label>
                           {{ form.city }}
                        </div>
                        <div class="form-group" >
                           <label for="user_city" style="white-space: nowrap;">Номер відділення Нової Пошти</label>
                           {{ form.postal_code }}
                        </div>
                     </div>
                      <div class="form-group" >
                          <label for="message" style="white-space: nowrap;">Коментар, не обов'язково</label>
                          {{ form.message }}
                      </div>

                      <button type="submit" class="btn btn-main mt-20">Оформити замовлення</button >
                  </form>
               </div>

            </div>
            <div class="col-md-4">
               <div class="product-checkout-details">
                  <div class="block">
                     <h4 class="widget-title">Деталі замовлення</h4>
                    {% for item in cart %}
                        {% with product=item.product %}
                             <div class="media product-card">
                                <a class="pull-left" href="{{ product.get_absolute_url }}">
                                   <img class="media-object" src="{{ product.image.url }}" alt="{{ product.name }}" />
                                </a>
                                <div class="media-body">
                                   <h4 class="media-heading"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                   <p class="price">{{ item.quantity }} x {{ product.price }} UAH</p>
                                   <span class="{% url "cart:cart_remove" product.id %}">Видалити</span>
                                </div>
                             </div>
                        {% endwith %}
                    {% endfor %}
                     <div class="summary-total">
                        <span>Загалом</span>
                        <span>{{ cart.get_total_price }} UAH</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
   <!-- Modal -->
   <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-body">
               <form>
                  <div class="form-group">
                     <input class="form-control" type="text" placeholder="Enter Coupon Code">
                  </div>
                  <button type="submit" class="btn btn-main">Apply Coupon</button>
               </form>
            </div>
         </div>
      </div>
   </div>

{% endblock %}
