{% load static %}


<div class="page-wrapper">
	<div class="container">
		<div class="row">

			<div class="col-md-6">
		        <div class="post">
                    <div class="post-thumb">
                        <img class="img-responsive" src="{{ baner.image_3.url }}" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">{{ baner.h_3 }}</h6>
                            <h3 class="text-white mb-3">{{ baner.desc_3 }}</h3>
                            <a href="{{ baner.tab_url_3 }}" class="btn btn-main mt-20">{{ baner.tab_3 }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
		        <div class="post">
                    <div class="post-thumb">
                        <img class="img-responsive" src="{{ baner.image_4.url }}" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">{{ baner.h_4 }}</h6>
                            <h3 class="text-white mb-3">{{ baner.desc_4 }}</h3>
                            <a href="{{ baner.tab_url_4 }}" class="btn btn-main mt-20">{{ baner.tab_4 }}</a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>