{% load static %}

<section class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Категорії товарів</h2>
				</div>
			</div>

			<div class="col-md-3">
				<div class="category-box">
					<a href="#!">
						<img src="images/shop/category/category-1.jpg" alt="" />
						<div class="content">
							<h3>Clothes Sales</h3>
							<p>Shop New Season Clothing</p>
						</div>
					</a>
				</div>
            </div>


		</div>
	</div>
</section>