{% load static %}

<section class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Категорії товарів</h2>
				</div>
			</div>
            {% for category in category_main_page %}
                <div class="col-md-3">
                    <div class="category-box">
                        <a onclick="location.href='{{ category.get_absolute_url }}'">
                            <img src="{{ category.photo.url }}" alt="{{ category.name }}" />
                            <div class="content">
                                <h3>{{ category.name }}</h3>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}

		</div>
	</div>
</section>